{{> menu}}

<div class="ui segment">
  <h2>Admin Area</h2>
  <div class="ui divider"></div>

  <p>Hey there, {{ user.firstName }}! Welcome to the Admin area. From here you can <a href="/admin/users/">See all users</a></p>
</div>
